<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href='/img/weather.png'>
        <title>Help</title>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>{{error}}</p>
        </div>
        {{>footer}}
    </body>
</html>